@use '../mixins/bootstrap' as mixins;
@use '../vars/bootstrap' as vars;

.welcome {
  width: 100%;
  height: auto;
  padding: 4rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    text-align: center;
    font-size: 4rem;
    line-height: 125%;
    font-weight: 500;
    // FIXME: вынести в vars
    color: #fff;
  }

  &__search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 15px;

    @include mixins.on(md) {
      flex-direction: row;
    }

    &-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      width: 100%;
      // FIXME: вынести в vars
      background-color: #24243e;
      // FIXME: вынести в vars
      border-radius: 10px;

      @include mixins.on(md) {
        width: 600px;
      }

      .welcome__search-icon {
        padding-left: 1rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: vars.$theme-text-muted;
      }

      .welcome__search-input {
        width: 100%;
        height: 50px;
        padding: 0 0.5rem;
        background: transparent;
        border: none;
        outline: none;
        color: white;
      }
    }
  }
}

.input-wrapper {
  width: 100%;
  position: relative;
  margin-top: 5rem;

  @include mixins.on(md) {
    width: 600px;
  }

  .input__dropdown {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 9999;
    // FIXME: вынести в vars
    background-color: #24243e;
    // FIXME: вынести в vars
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);

    transition: opacity 0.25s;

    top: 60px; // gap - 10px

    ul {
      min-height: 250px;
      max-height: 250px;
      margin: 0.5rem 0.5rem 0.5rem 0;

      &.scrollable {
        overflow-y: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        @include mixins.on(md) {
          &::-webkit-scrollbar {
            display: block;
            width: 5px;
          }
        }

        &::-webkit-scrollbar-track {
          background: #3d3b5c;
          border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: gray;
          border-radius: 5px;
        }
      }

      // FIXME: вынести это отсюда
      .dropdown__location--spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;

        .loader {
          width: 48px;
          height: 48px;
          border: 5px solid #fff;
          border-bottom-color: transparent;
          border-radius: 50%;
          display: inline-block;
          box-sizing: border-box;
          animation: rotation 1s linear infinite;

          @keyframes rotation {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }

      .dropdown__location--empty {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 250px;
        font-size: 1.5rem;
        color: #fff;
      }

      .dropdown__location {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;
        padding: 0 0.5rem;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }

        &--flag {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background-color: blue;
          margin-right: 1rem;
        }

        &--name {
          color: #fff;
        }
      }
    }
  }
}
