@use '../mixins/bootstrap' as mixins;
@use '../vars/bootstrap' as vars;

.welcome {
  width: 100%;
  height: auto;

  padding: 4rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    text-align: center;
    font-size: 4rem;
    line-height: 125%;
    font-weight: 500;
    color: #fff;
  }

  &__search {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
    margin-top: 5rem;

    flex-direction: column;

    @include mixins.on(md) {
      flex-direction: row;
    }

    &-wrapper {
      display: flex;
      width: 100%;

      @include mixins.on(md) {
        width: 600px;
      }

      flex-direction: row;
      justify-content: start;
      align-items: center;
      background-color: #24243e;
      border-radius: 10px;

      .welcome__search-icon {
        padding-left: 1rem;
        height: 100%;
        color: vars.$theme-text-muted;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .welcome__search-input {
        width: 100%;
        height: 50px;
        background: transparent;
        border: none;
        outline: none;
        color: white;
        padding: 0 0.5rem;
      }
    }

    &-submit {
      height: 50px;
      background-color: vars.$theme-controls-primary-background;
      color: white;
      padding: 0 1rem;
      border-radius: 10px;
      font-weight: 500;
      outline: none;
      border: none;

      &:hover {
        background-color: vars.$theme-controls-primary-background-hovered;
      }
    }
  }
}
