@use '../mixins/bootstrap' as mixins;
@use '../vars/bootstrap' as vars;

.daily-forecast {
  width: 100%;
  height: auto;

  &__title {
    color: white;
    padding: 1rem 0;
    font-size: 1.25rem;
  }

  &__grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    @include mixins.on(lg) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }

    @include mixins.on(xl) {
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: 1fr;
    }

    gap: 1rem;

    .daily-forecast__item {
      width: 100%;
      height: auto;

      background-color: vars.$theme-background-secondary;
      color: white;
      border-radius: 10px;

      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 1rem 0;

      .daily-forecast__weekday {
      }

      .daily-forecast__icon {
        img {
          width: 100px;
          height: 100px;
        }
      }

      .daily-forecast__temperature {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}
