@use '../vars/bootstrap' as vars;

.dropdown {
  position: relative;

  width: max-content;
  height: fit-content;

  display: flex;
  flex-direction: column;

  &__root {
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border-radius: 5px;
    background-color: vars.$theme-controls-secondary-background;

    &:hover {
      background-color: vars.$theme-controls-secondary-background-hovered;
    }
  }

  cursor: pointer;

  &__text {
    font-size: 0.9rem;
    font-weight: bold;
  }

  &__options {
    width: 100%;
    position: absolute;
    top: 45px;
    flex-direction: column;

    transition: opacity 0.2s;

    &--item {
      padding: 0.6rem 1rem;
      font-size: 0.8rem;
      background-color: vars.$theme-controls-secondary-background;

      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &:hover {
        background-color: vars.$theme-controls-secondary-background-hovered;
      }
    }
  }
}
