$background-primary: #03002b;
$background-secondary: #24243e;

$text-primary: #ffffff;
$text-muted: #868798;
$text-dimmed: rgb(214, 213, 213);
$text-dimmed-2: rgb(169, 169, 169);

$controls-primary-background: #4557da;
$controls-primary-background-hovered: #4f61ea;

$controls-secondary-background: #3d3b5c;
$controls-secondary-background-hovered: #323356;

$background-accent: #312f49;
