$background-primary: #03002b;

$text-primary: #ffffff;
$text-muted: #868798;

$controls-primary-background: #4557da;
$controls-primary-background-hovered: #4f61ea;

$controls-secondary-background: #242540;
$controls-secondary-background-hovered: #323356;
