@use 'sass:map';

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
);

@mixin on($size) {
  $break: map.get($breakpoints, $size);
  @if $break {
    @media (min-width: $break) {
      @content;
    }
  } @else {
    @warn "unknown breakpoint";
  }
}
